@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

body {
    background-color: #FFF3E0;
}

#title {
    font-family: "Bitcount Prop Single", sans-serif;
    font-weight: 500;
    
    color: #EF6C00;
}

#mainCard {
    background-color: #fafafa;
    border: 2px solid #9E9E9E;
    box-shadow: 4px 6px 5px 0px #BDBDBD;
    width: 75% !important;
}

@media (min-width: 768px) {
    #mainCard {
        width: 50% !important;
    }
}

#outputDisplay {
    background-color: #212121;
    color: #FFF3E0;
    border: none;
}

#generateBtn {
    background-color: #EF6C00;
    border: none;
    box-shadow: 0px 4px 5px 0px #FFE0B2;
    font-weight: 400;
    font-size: 32px;
    font-family: "Bitcount Prop Single", sans-serif;
}

#generateBtn:hover {
    background-color: #F57C00;
}

#generateBtn:active {
    background-color: #FB8C00;
}

.preset-btn {
    font-weight: bold;
}

.preset-btn:hover{
    background-color: #455A64;
}

.preset-btn:active {
    background-color: #546E7A !important;
}

